<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.apps.twittercproject"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TwitterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="TwitterC.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.codepath.apps.twittercproject.models.Tweet, com.codepath.apps.twittercproject.models.User" />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cptwitterc"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TimelineActivity"
            android:label="@string/timeline_title" />
        <activity
            android:name=".Activities.ComposeActivity"
            android:label="@string/compose_tweet_title" />
    </application>

</manifest>